* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1C1C1C;
    color: #FFFFFF;
}

header {
    background-color: #2C3E50;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo {
    max-width: 150px;
    height: auto;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.menu ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F1C40F;
    transition: width 0.3s ease;
}

.menu ul li a:hover {
    color: #F1C40F;
    background-color: rgba(241, 196, 15, 0.1);
}

.menu ul li a:hover::after {
    width: 100%;
}

h2 {
    font-style: italic;
    padding-bottom: 0.8em;
    border-bottom: 2px solid #8E44AD;
    color: #2E86C1;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Estilo para as imagens dos produtos */
.card-img-top {
    height: 200px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
    width: 100%; /* Largura total do contêiner */
}

.card {
    background-color: #2C3E50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    border-radius: 10px 10px 0 0;
}

.card-title {
    color: #F1C40F;
    font-size: 1.5em;
}

.card-text {
    font-weight: 300;
    color: #FFFFFF;
}

.btn-primary {
    background-color: #8E44AD;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #732d91;
}

/* Ajustes para responsividade */
@media screen and (max-width: 767px) {
    .menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .menu ul li a {
        padding: 8px 12px;
    }

    .card {
        margin-top: 20px;
    }
}